* {
    margin: 0;
    padding: 0;
}
  
nav {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
  
nav #link-list ul {
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: none;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}
  
nav #link-list {
    width: 35%;
}
  
nav #link-list ul li a{
    color: rgba(155, 105, 193, 1);
    text-decoration: none;
    padding: 0.5rem;
}
  
nav #link-list ul li a:hover {
    color:rgba(92, 141, 108, 1);
    cursor: pointer;
}
  
body {
    background-color: rgba(26, 11, 30, 1);
    color: rgba(155, 105, 193, 1);
}
  
#suppa {
    font-size: 5rem;
}
    
hr {
    margin-left: 6rem;
    margin-right: 6rem;
    border-color: rgba(155, 105, 193, 1);
}
  
#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#res {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    margin: 0.5rem;
}

#guests {
    width: 2.5rem;
}

#info {
    margin-top: 3rem;
}

button {
    color:  rgba(26, 11, 30, 1);
    border-radius: 20%;
    padding: 0.5rem;
    background-color: rgba(155, 105, 193, 1);
}

#buttons {
    flex-direction: row;
}