<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/assets/style.css" rel="stylesheet" type="text/css">
        <title>Suppa</title> 
        <meta charset="utf-8" /> 
     </head> 

     <body>
        <div id="box">
            <h2 id="suppa">suppa</h2>
            <div id="name">
                <h3>"soup-uh"</h3>
                <h3>soup bar</h3>
           </div>
        </div>

        <nav id="nav">
            <div id="link-list">
                <ul>
                    <li><a href="/">about us</a></li>
                    <li><a href="/menu">menu</a></li>
                    <li><a href="/reservations">reservations & order</a></li>
                    <li><a href="/diy">diy</a></li>
                </ul>
            </div>
        </nav>

        <hr>

        <div id="home">
            <p id="origin">The word <span style="color: rgba(92, 141, 108, 1)">soup</span> orinates from post-classical Latin verb <span style="color: rgba(92, 141, 108, 1)">suppāre</span> meaning ‘soak’, borrowed from Germanic root sup- to English <span style="color: rgba(92, 141, 108, 1)">supper</span>. From it was derived the noun <span style="color: rgba(92, 141, 108, 1)">suppa</span>, which passed into Old French as <span style="color: rgba(92, 141, 108, 1)">soupe</span>. </p>
      <br>
              <p>with which we then created: <span style="color: rgba(92, 141, 108, 1)">suppa</span></p>
      
          </div>
          <div id="content">
      
            <div id="why">
             <h2>why we created suppa</h2>
             <p>Immersing ourselves in dc dining, cooking shows, and experimenting in our own kitchens, we found ourselves impassioned by the art of food. We wished to recreate the lively yet warm ambiance of a night out but through a quality dining experience designed to highlight the delight that is soup.
             </p>
            </div>

            <div id="vision">
                <h2>our vision</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div id="about">
                <h2>about us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

          </div>
            
     </body>
</html>