<!DOCTYPE html> 
<html lang="en">
    <head> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/assets/style.css" rel="stylesheet" type="text/css">
        <title>Suppa</title> 
        <meta charset="utf-8" /> 
     </head> 

     <body>
        <div id="box">
            <h2 id="suppa">suppa</h2>
            <div id="name">
                <h3>"soup-uh"</h3>
                <h3>soup bar</h3>
           </div>
        </div>

        <nav id="nav">
            <div id="link-list">
                <ul>
                    <li><a href="/">about us</a></li>
                    <li><a href="/menu">menu</a></li>
                    <li><a href="/reservations">reservations</a></li>
                    <li><a href="/diy">recipes</a></li>
                </ul>
            </div>
        </nav>

        <hr>

        <div id="home">
            <p id="origin">The word <span style="color: rgba(92, 141, 108, 1)">soup</span> orinates from post-classical Latin verb <span style="color: rgba(92, 141, 108, 1)">suppāre</span> meaning ‘soak’, borrowed from Germanic root sup- to English <span style="color: rgba(92, 141, 108, 1)">supper</span>. From it was derived the noun <span style="color: rgba(92, 141, 108, 1)">suppa</span>, which passed into Old French as <span style="color: rgba(92, 141, 108, 1)">soupe</span>. </p>
      <br>
              <p>with which we then created: <span style="color: rgba(92, 141, 108, 1)">suppa</span></p>
      
          </div>
          <div id="content">
      
            <div id="why">
             <h2>why we created suppa</h2>
             <p>Immersing ourselves in dc dining, cooking shows, and experimenting in our own kitchens, we found ourselves impassioned by the art of food. We wished to recreate the lively yet warm ambiance of a night out but through a quality dining experience designed to highlight the delight that is soup.
             </p>
            </div>

            <div id="vision">
                <h2>our vision</h2>
                <p>Imagine yourself seated at a bar, a hand crafted ceramic bowl in front of you. The steam from its contents wafts up to fill your sinuses with the scents reminiscent of home. The rhythms of blue jazz fill your ears, and the warm dim lighting combined with the deep purple and green tones of the space put you at ease. This is how we imagine Suppa. A place for you and your loved ones to come together and share laughs, conversations, music, and of course good soup.
                </p>
            </div>

            <div id="about">
                <h2>about us</h2>
                <p>Misha and Chethan are two juniors at UMD studying computer science. They love trying new food and exploring local restaurants. Until one day, it dawned on them. What if there was a bar, but they just served soup? As of right now, Suppa is just an idea, but we are happy to share it with you.
                </p>
            </div>

            <div id="footer">
                <p>contact us if you have feedback or want to learn more!</p>
                <br>
                <p> all rights reserved &copy;</p>
            </div>

          </div>
            
     </body>
</html>