<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/menu.css" rel="stylesheet" type="text/css">
    <title>Menu</title>
  </head>
  <body>
    <div id="box">
      <h2 id="suppa">suppa</h2>
      <div id="name">
        <h3>"soup-uh"</h3>
        <h3>soup bar</h3>
      </div>
    </div>

  <nav id="nav">
      <div id="link-list">
        <ul>
            <li><a href="/">about us</a></li>
            <li><a href="/menu">menu</a></li>
            <li><a href="/reservations">reservations & order</a></li>
            <li><a href="/diy">diy</a></li>
        </ul>
      </div>
  </nav>

  <hr>
    <div id="menutop">
        <div>
          <h1>Soup of the Day</h1>
          <p id="menus">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
        </div>
        <div id="bites">
          <h1>Small Bites</h1>
          <p id="menus">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
        </div>
      </div>
      <h1 id="worldly">Soup Around the World</h1>
      <div id="world">
        <div id="latin">
          <h2>Latin America</h2>


          <h4>Chicken Tortilla Soup</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>

          <h4>Moqueca</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>

          <h4>Vori</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>

          <h4>Tacaca</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
        </div>
        <div id="asian">
          <h2>Asian</h2>
          <br />
          <h4>Ramen</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
          <h4>Pho</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
          <h4>Miso Soup</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
          <h4>Spicy Wonton</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            lacinia odio vitae vestibulum vestibulum.
          </p>
        </div>
      </div>
  </body>
</html>
      