<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/assets/menu.css" rel="stylesheet" type="text/css">
    <title>Menu</title>
  </head>

  <body>
    <div id="box">
      <h2 id="suppa">suppa</h2>
      <div id="name">
        <h3>"soup-uh"</h3>
        <h3>soup bar</h3>
      </div>
    </div>

    <nav id="nav">
        <div id="link-list">
          <ul>
            <li><a href="/">about us</a></li>
            <li><a href="/menu">menu</a></li>
            <li><a href="/reservations">reservations & order</a></li>
            <li><a href="/recipes">recipes</a></li>
        </ul>
        </div>
    </nav>

    <hr>
      <div id="menutop">
        <div id="daily">
          <h1>Soup of the Day</h1>
          <p id="menus">
            ghost pepper tomato soup
          </p>

        </div>
          
        <div id="bites">
          <h1>Small Bites</h1>
          <p>gol gape</p>
          <p>gyozas</p>
          <p>garlic bread</p>
        </div>
          
      </div>
        
      <div id="world">
        <h1 id="worldly">Soup Around the World</h1>
        
        <div id="latin">
          <h2>Latin America</h2>
          <br />

          <h4>Chicken Tortilla Soup</h4>
       

          <h4>Moqueca</h4>
        

          <h4>Vori</h4>
         

          <h4>Tacaca</h4>
          
        </div>

        <div id="asian">
          <h2>East Asia</h2>
          <br />
          <h4>Ramen</h4>
         
          <h4>Pho</h4>
        
          <h4>Miso Soup</h4>
         
          <h4>Spicy Wonton</h4>
         
        </div>

        <div id="sasian">
          <h2>South Asia</h2>
          <br />
          <h4>Nihari</h4>
         
          <h4>Daal</h4>
        
          <h4>Pie</h4>
         
        </div>

        <div id="other">
          <h2>Classics</h2>
          <br />
          <h4>Tomato Soup</h4>
         
          <h4>Butternut Squash</h4>
        
          <h4>Broccoli and Cheddar</h4>
         
          <h4>Chicken Noodle</h4>
         
        </div>

      </div>

  </body>
</html>
      