<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/assets/events.css" rel="stylesheet" type="text/css">
        <title>Recipes</title>
    </head>
    <body>
        <div id="box">
            <h2 id="suppa">suppa</h2>
            <div id="name">
                <h3>"soup-uh"</h3>
                <h3>soup bar</h3>
           </div>
        </div>

        <nav id="nav">
            <div id="link-list">
                <ul>
                    <li><a href="/">about us</a></li>
                    <li><a href="/menu">menu</a></li>
                    <li><a href="/reservations">reservations</a></li>
                    <li><a href="/diy">recipes</a></li>
                </ul>
            </div>
        </nav>

        <hr>

    </body>
</html>