<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/assets/reservations.css" rel="stylesheet" type="text/css">
        <title>Reservations & Order</title>
    </head>
    <body>
        <div id="box">
            <h2 id="suppa">suppa</h2>
            <div id="name">
                <h3>"soup-uh"</h3>
                <h3>soup bar</h3>
           </div>
        </div>

        <nav id="nav">
            <div id="link-list">
                <ul>
                    <li><a href="/">about us</a></li>
                    <li><a href="/menu">menu</a></li>
                    <li><a href="/reservations">reservations & order</a></li>
                    <li><a href="/recipes">recipes</a></li>
                </ul>
            </div>
        </nav>

        <hr>

        <div id="res">
            <h2>make a reservation</h2>
            <br>

             <form action="/reservations" method="POST" id="form">
                <label>name: <input type="text" id="name" name="name"></label>
                <label>number of guests: <input type="number" id="guests" name="guests"></label>
                <label>date: <input type="date" id="date" name="date">      time: <input type="time" id="time" name="time"></label>
                <label>email: <input type="email" id="email" name="email"></label>
                <label>allergies & additional info: <input type="textarea" id="allergies" name="info"></label>

                <div id="buttons">
                    <button type="reset">Reset</button> 
                    <button type="submit">Submit</button>
                </div>
            </form>

            <div id="info">
                <h3>hours</h3>
                <p>Monday-Thursday: 5pm-11pm</p>
                <p>Friday-Sunday: 5pm-1am</p>
                <h3>location</h3>
                <p>College Park</p>
            </div>
        </div>
       

    </body>
</html>